<HTML>
<Header>
<Title>rnce_rendicion_partidas_proyc_accion - View</Title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<Link href="../css/doc.css" rel="stylesheet" type="text/css">
</Header>
<Body>
<table class="logo">
<tr>
<td class="logo">sistemanc</td>
</tr>
</table>
<table class="horzMenu">
<tr>
<td class="horzMenu"><a class="horzMenu" href="../index.html"> Home</a></td><td class="horzMenu">|</td><td class="horzMenu"><a class="horzMenu" href="../tables/index.html">Tables</a></td><td class="horzMenu">|</td><td class="horzMenu"><a class="horzMenu" href="../schemas/index.html">Schemas</a></td><td class="horzMenu">|</td><td class="horzMenu"><a class="horzMenu" href="../diagrams/index.html">Diagrams</a></td><td class="horzMenu">|</td><td class="horzMenu"><a class="horzMenu" href="../foreignKeys/index.html">Foreign Keys</a></td><td class="horzMenu">|</td><td class="horzMenu"><a class="horzMenu" href="../indexes/index.html">Indexes</a></td><td class="horzMenuFiller"></td>
</tr>
</table>
<hr>
<table class="flat">
<tr class="banner">
<td class="title_nm">trimestre2.rnce_rendicion_partidas_proyc_accion</td><td class="watermark_right">(View)</td>
</tr>
<tr>
<td class="key">Name</td><td class="value">rnce_rendicion_partidas_proyc_accion</td>
</tr>
<tr>
<td class="key">SQL</td><td class="value">
<pre>SELECT
    a.num_contrato,
    a.tipo,
    d.nombre,
    b.num_factura,
    c.costo_unitario,
    c.cantidad_adquirida,
    e.nombre AS producto,
    (((((e.cod_segmento::text || '-'::text) || e.cod_familia::text) || '-'::text) || e.cod_clase::text) || '-'::text) || e.cod_producto::text AS codigo_producto,
    g.porcentaje AS iva,
    c.costo_unitario * c.cantidad_adquirida::numeric + c.costo_unitario * c.cantidad_adquirida::numeric * g.porcentaje / 100::numeric AS total_factura,
    h.nombre AS unidad_medida,
    x.partida_id,
    p.nombre AS nom_partida,
    ((p.p1::text || p.p2::text) || p.p3::text) || p.p4::text AS cod_partida,
    y.proyectonom,
    y.accion_nom,
    y.codigo_accion
FROM trimestre2.procedimientos a
    JOIN trimestre2.facturas b ON b.procedimiento_id = a.id
    JOIN trimestre2.facturas_productos c ON c.factura_id = b.id
    JOIN entes_organos d ON d.ente_organo_id = a.ente_organo_id
    JOIN productos e ON e.producto_id = c.producto_id
    JOIN proveedores f ON f.id = b.proveedor_id
    JOIN trimestre2.presupuesto_partidas x ON x.ente_organo_id = b.ente_organo_id
    JOIN iva g ON g.id = c.iva_id
    JOIN partidas p ON p.partida_id = x.partida_id
    JOIN unidades h ON h.unidad_id = c.unidad_id
    JOIN trimestre2.partida_proyecto_accion_ente y ON y.ente_organo_id = b.ente_organo_id
        AND y.presupuesto_partida_id = x.presupuesto_partida_id
        AND y.presupuesto_partida_id = c.presupuesto_partida_id
ORDER BY b.num_factura</pre>
</td>
</tr>
</table>
</Body>
</HTML>
